.about-me {
  box-sizing: border-box;
  padding: 110px 70px 100px 70px;
}

.about-me__title {
  margin: 0;
  padding-bottom: 23px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  border-bottom: 1px solid rgba(170, 170, 170, 0.4);
}

.about-me__container {
  display: flex;
  justify-content: space-between;
  margin-top: 63px;
}

.about-me__text-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.about-me__subtitle {
  margin: 0;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
}

.about-me__information {
  margin: 18px 0 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
}

.about-me__history {
  margin: 26px 0 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.about-me__link {
  margin: 99px 0 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.7s;
}

.about-me__link:hover {
  color: #3ddc84;
}

.about-me__avatar {
  width: 270px;
  height: 327px;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

@media screen and (max-width: 1023px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__text-container {
    margin-right: 49px;
  }

  .about-me__subtitle {
    font-size: 40px;
    
  }

  .about-me__information {
    margin-top: 16px;
    font-size: 12px;
    
  }

  .about-me__history {
    margin-top: 20px;
    font-size: 12px;
    
  }

  .about-me__link {
    margin-top: 87px;
    font-size: 14px;
    
  }

  .about-me__avatar {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 767px) {
  .about-me {
    padding: 70px 14px;
  }
  .about-me__container {
    margin-top: 60px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .about-me__text-container {
    margin-right: 0px;
  }
  .about-me__title {
    padding-bottom: 28px;
    font-size: 18px;
    
  }
  .about-me__subtitle {
    margin-top: 40px;
    font-size: 30px;
  
  }
  .about-me__information {
    margin-top: 18px;
    font-size: 11px;
    
  }
  .about-me__history {
    font-size: 11px;
    
  }
  .about-me__link {
    margin-top: 40px;
    font-size: 14px;
    
  }

  .about-me__avatar {
    width: 255px;
    height: 307px;
  }
}
